/* Ramen för varje sida */

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('assets/photos/01-day.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 15%;
}

.header-icon {
    height: 6rem;
}

nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffffff;
    padding: 10px;
    font-weight: bold;
    transition: all 0.5s;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    background-color: #701515;
    color: #fff;
    justify-content: space-around;
    padding: 0.5rem;
    bottom: 0; 
    position: fixed;
    width: 100vw;
    margin-top: 10em;
}

footer p {
    margin-top: 0.4rem;
}

.footer-icon {
    height: 30px;
    width: auto;
}



    /* Specifikt för Startsida */

.section-startsida {
    color: #ffffff;
}

.black-box-startsida {
    height: 100%;
    width: 48.6%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    text-align: center;
    padding-top: 5rem
}

.black-box-startsida p {
    margin-top: .8rem;
    margin-bottom: 25%;
}

@media screen and (width: 430px) {

    .black-box-startsida {
        width: 100%;
    }
    
}



    /* Specifikt för Boka ett rum */

.boka-h2 {
    padding: 0.5em;
}
.boka-form > * {
    margin-top: 0.5em;
}

.black-box-boka {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.black-box-boka h2 {
    text-align: center;
    padding-top: 3rem;
}

.boka-form {
display: grid;
grid-template-columns: 50% 50%;
padding: 5%;
}

.boka-form input, label, select {
    padding: .5rem;
    border-radius: 1rem;
    margin: 2rem;
}

.boka-button {
    grid-column: 2; 
    grid-area: 0, 1;
    background-color: #701515;
    padding: 0.75em 1.25em ;
    border-radius: 0.5rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    }

.boka-button:hover {
    background-color: #a83535;
}


@media screen and (width: 430px) {

    .boka-form {
        padding: .5%;
    }

    .boka-button {
        grid-column: span 2;
        margin: 2rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
}

}



    /*specifikt för faciliteter */

.black-box-facilities {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.facilities-article {
    flex-direction: column;
    max-width: 40%;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    background-color: #ffffff10;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.facilities-article p {
    padding: 0.5em;
    color: #ffffff;
}

.facilities-images {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.facilities-h2 {
    font-size: 1.5;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #ffffff;
}

.facilities-button {
    background-color: #701515;
    padding: 0.75em 1.25em ;
    border-radius: 0.5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}
.facilities-button:hover {
    background-color: #a83535;
}

@media screen and (width: 430px) {

    .black-box-facilities {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .facilities-article {
        max-width: 80%;   
    }

}



